<<<<<<< HEAD
=======
.navbar-collapse{
    justify-content: center;
}
>>>>>>> 7a16edb6b951d03016550cfe7b1eff0f2ab57dba
.container-fluid{
    padding: 0;
}
.navbar-brand img{width: 230px}
.card{
    padding: 20px;
    border: 2px solid blue;
    border-radius: 8px;
<<<<<<< HEAD
}   
.navbar{
    width: 1200px; 
    margin:0 auto;
}
.introduce{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
    line-height: 35px;
=======
>>>>>>> 7a16edb6b951d03016550cfe7b1eff0f2ab57dba
}