body {
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    --bs-gutter-x: 0;
}

.container-fluid {
    padding: 0;
}

.navbar-brand img {
    width: 230px;
}

.card {
    padding: 20px;
    border: 2px solid blue;
    border-radius: 8px;
}

#header {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.introduce {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 25px;
}

.card-icon {
    font-size: 40px;
    color: #0b249e;
    transition: 0.2s;
}

.card-icon:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.card-job {
    width: 300px;
    padding: 2px;
    border: none;
    border-radius: 0px;
    margin: 0px 10px;
    height: 260px;
    transition: 0.3s;
}

.card-img {
    overflow: hidden;
}

.card-job {
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.card-job img {
    transition: 0.3s;
}

.card-job:hover img {
    overflow: hidden;
    transform: scale(1.2);
    transition: 0.3s;
}

.card-job:hover h5 {
    color: #2575FC;
    transition: 0.3s;
}

.register-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-btn button {
    border: 3px solid #fff;
    padding: 10px 10px 10px 20px;
    color: #fff;
    transition: 0.3s;
}

.register-btn button:hover {
    transform: scale(1.1);
    background-color: #FF7B06;
    color: #fff;
    transition: 0.3s;
}

.head_title p {
    display: block;
    font-size: 24px;
    color: #f5ec10;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}

.head_title span {
    display: block;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 5px;
    margin-bottom: 20px;
}


form {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 10px;
}

form input,
form select {
    display: block;
    padding: 10px;
    margin: 10px 0px;
    font-weight: 500;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    background-color: #F4F4F4;
}


::placeholder {
    color: #000;
    font-size: 16px;
    padding: 5px;
}

form .btn {
    margin-top: 50px;
    padding: 10px;
    border-radius: 8px;
    font-size: 18px;
    color: #000;
    background-color: #edb017;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

form .btn:hover {
    background-color: #008FCA;
    color: #fff;
    transition: 0.2s;
}

li {
    list-style-type: none;
}

.detail-course {
    display: flex;
    margin: 20px 0px 6.5px 0px;
    align-items: center;
}

.detail-course i,
.time-course i {
    padding-right: 15px;
    color: yellow;
}

.times-course {
    margin: 20px 0px 10px 20px;
}

.time-course {
    display: flex;
    padding-bottom: 13px;
    margin-top: 6.5px;
    align-items: center;
}

.course-content {
    margin-bottom: 20px;
    padding-top: 10px;
}

.course-content:first-child {
    margin-top: 60px;
}

.course-fee {
    margin-top: 50px;
}

.course-fee-btn {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.course-fee-btn:hover {
    color: inherit;
}

.course-fee-detail {
    margin-top: 20px;
}

.course-fee-detail li {
    margin-left: 20px;
    margin-bottom: 10px;
    list-style-type: disc !important;
}