body{
    font-family: Arial, Helvetica, sans-serif;
}
#header {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo img {
    width: 250px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list_item a {
    position: relative;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    transition: 0.2s linear;
}

.nav-list_item a:hover{
    color: #0B249E;
    transition: 0.2s linear;
}

.sub-menu, .sub-menu_mega {
    display: none;
    position: absolute;
    padding: 10px 0px;
    width: 240px;
    top: 52px;
    background-color: #F4F4F4;
    border-radius: 4px;
    box-shadow: 0px 5px 5px 0px #000;
    animation: slidedown linear 0.2s;
    z-index: 1;
}

.sub-menu_mega {
    top: 80px;
    left: 240px;
}

.sub-menu_item {
    border-bottom: 1px solid #000;
    transition: 0.2s;
}

.sub-menu_item:last-child {
    border-bottom: none;
}

.sub-menu_item a:hover {
    background-color: #fff;
    transition: 0.2s;
}

.nav-list_item:hover .sub-menu {
    display: block;
    cursor: pointer;
    transition: 0.5s;
}

.mega:hover .sub-menu_mega {
    display: block;
    cursor: pointer;
    transition: 0.5s;
}

@keyframes slidedown{
    from{
        opacity: 0;
        transform: translateY(-10%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
#paragraph-one{
    width: 677px;
    padding-left: 110px;
}
.title{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
}
.p_1{
    text-align: justify;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 25px;
}
.p_1-bold{
    font-weight: 800;
}
.list-item{
    text-align: justify;
    list-style-type: disc;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 5px;
}
.title_one{
    font-size: 20px;
    font-weight: 600;
    margin: 40px 0px 50px 0px;
    color:  #0b63c7;
}
.list{
    margin-left: 30px;
}
.list-item:last-child{
    margin-bottom: 30px;
}
.sub-list{
    margin-left: 20px;
    list-style: circle;
    margin-top: 5px;
}
.sub-list-item{
    margin-bottom: 8px;
}