body{
    font-family: Arial, Helvetica, sans-serif;
}
#header {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo img {
    width: 250px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list_item a {
    position: relative;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    transition: 0.2s linear;
}

.nav-list_item a:hover{
    color: #0B249E;
    transition: 0.2s linear;
}

.sub-menu, .sub-menu_mega {
    display: none;
    position: absolute;
    padding: 10px 0px;
    width: 240px;
    top: 52px;
    background-color: #F4F4F4;
    border-radius: 4px;
    box-shadow: 0px 5px 5px 0px #000;
    animation: slidedown linear 0.2s;
    z-index: 1;
}

.sub-menu_mega {
    top: 80px;
    left: 240px;
}

.sub-menu_item {
    border-bottom: 1px solid #000;
    transition: 0.2s;
}

.sub-menu_item:last-child {
    border-bottom: none;
}

.sub-menu_item a:hover {
    background-color: #fff;
    transition: 0.2s;
}

.nav-list_item:hover .sub-menu {
    display: block;
    cursor: pointer;
    transition: 0.5s;
}

.mega:hover .sub-menu_mega {
    display: block;
    cursor: pointer;
    transition: 0.5s;
}

@keyframes slidedown{
    from{
        opacity: 0;
        transform: translateY(-10%);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.content {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
}

.meta-post {
    display: flex;
    padding-bottom: 25px;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.make-date {
    position: relative;
    margin-right: 30px;
}

.make-date::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 2px;
    background-color: #000;
    top: 64%;
    right: -16%;
}

.interactive-btn {
    font-size: 11px;
    text-align: left;
    margin-bottom: 20px;
}

.like-btn, .share-btn {
    font-weight: 700;
    color: #fff;
    background-color: #1877F2;
    border: none;
    border-radius: 4px;
    padding: 2px 6px;
}

#paragraph-one{
    width: 790px;
}
.title{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 25px;
}
.p_1{
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 25px;
}
.p_1-bold{
    font-weight: 800;
}
.list-item{
    text-align: justify;
    list-style-type: disc;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 5px;
}
.title_one{
    font-size: 20px;
    font-weight: 600;
    margin: 40px 0px 50px 0px;
    color:  #0b63c7;
}
.list{
    margin-left: 30px;
}
.list-item:last-child{
    margin-bottom: 30px;
}
.sub-list{
    margin-left: 20px;
    list-style: circle;
    margin-top: 5px;
}
.sub-list-item{
    margin-bottom: 8px;
    cursor: pointer;
}
.list-programs .list-item{
    cursor: pointer;
}
.mb15{
    margin-bottom: 15px;
}
.mb0{
    margin-bottom: 0px;
}
.control-page{
    margin: 50px 0px;
    display: flex;
    justify-content: space-between;
}

.control {
    cursor: pointer;
    font-size: 15px;
    color: #0000b5;
    font-weight: 600;
}

.post-control{
    cursor: pointer;
}

.qualified-item-inner {
    padding: 15px 20px;
    border: 1px solid #ccc;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}

.qualified-item-inner i {
    margin-right: 10px;
}

.qualified-text {
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    margin: 0px 0px 20px;
}

.content-right {
    margin-top: 10px;
}

.right-item {
    margin: 20px 0px 40px 0px;
}

.right-item-header {
    position: relative;
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: 600;
    padding-left: 15px;
}

.right-item-header::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 15px;
    background-color: #0000B5;
    top: 10%;
    left: 0;
}

.right-item img {
    width: 262px;
    height: 103px;
}

.right-item form input{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #000;
    background-color: #e6e6e6;
}

form select {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #000;
    background-color: #fff;
}

.form-btn {
    display: block;
    width: 100%;
    padding: 10px 0px;
    border-radius: 6px;
    border: none;
    background-color: #edb017;
    color: #000;
    font-weight: 700;
    margin-top: 40px;
    transition: 0.2s;
    font-size: 16px;
}

.form-btn:hover {
    background-color: #008FCA;
    box-shadow: 0px 0px 5px 0px #000;
    color: #fff;
}

.list-news {
    width: 262px;
    padding: 0;
    border-top: 1px solid #f1f1f1;
}

.new-link {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 15px;
}

.new-link:hover {
    color: inherit;
}

.new-item {
    padding: 10px 0px;
    border-bottom: 1px solid #f1f1f1;
}


.qualified-content {
    padding: 15px 20px;
    font-size: 15px;
    font-weight: 600;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    height: 100%;
    overflow: hidden;
    transform-origin: top;
}

.cooperation {
    position: relative;
    margin: 50px 0px;
}

.coop-inner {
    width: 1400px;
    display: block;
    margin: 0 auto;
    padding: 10px;
}

.coop-title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}

.coop-slides {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    margin-top: 25px;
    overflow: hidden;
}

.coop-slide {
    display: flex !important;
    align-items: center;
    min-height: 170px !important;
}

.coop-slide img {
    width: 100%;
}

.cooperation .controls {
    position: absolute;
    top: calc(50% + 10px);
}

.cooperation .control:hover {
    cursor: pointer;
    background-color: transparent;
}

.cooperation .controls i {
    color: #000;
}

.cooperation .controls {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

.footer {
    padding: 40px 0px 50px 0px;
    background-color: #2F319E;
}

.footer-inner {
    width: 1250px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    color: #fff;
    padding: 10px;
}

.footer-courses {
    padding-right: 30px;
    width: 30%;
}

.footer-inner a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px 0px 20px 0px;
    font-weight: 600;
    font-size: 16px;
}

.footer-contact {
    width: 35%;
    padding-right: 40px;
}

.footer-inner h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    height: 34px;
}

.address {
    line-height: 40px;
}

.footer-register {
    width: 35%;
    padding-left: 40px;
}

form input, form select {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    background-color: #F4F4F4;
}


::placeholder{
    color: #000;
    font-size: 16px;
    padding: 5px;
}

form .btn {
    margin-top: 50px;
    padding: 10px;
    border-radius: 8px;
    font-size: 18px;
    color: #000;
    background-color: #edb017;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

form .btn:hover {
    background-color: #008FCA;
    color: #fff;
    transition: 0.2s;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 10px;
}

.footer-register form input, .footer-register form select {
    width: 90%;
}

.footer-register form .btn {
    width: 100%;
}
